<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Monkey</title>
</head>
<body>
  <% if @data %>
    <h1>OK</h1>
    <%= @data %>
  <% else %>
    <h1>Not OK</h1>
  <% end %>
</body>