<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Monkey</title>
</head>
<body>
  <h1>last one I got</h1>
  <ul>
    <li>status message: <%= last.status_message %></li>
    <li>commit: <%= last.commit %></li>
    <li>branch: <%= last.branch %></li>
  </ul>
</body>